<a class="btn btn-info mt-5 mr-2 mb-2" routerLink="/createcourse">New Course</a>

<div style="clear:both">
        </div>
        
<div class="col-md-3" *ngFor="let Course of CoursesList ;let i=index" style="float:left" >
        <div class="card mb-4 text-white bg-dark">
                <img style="width:310px;height:250px;" [src]="Course.Image" />
                <div class="card-body" style="height:270px">
                        <h5 class="card-title">{{Course.Name}}</h5>
                        <p class="card-text" style="height:96px;overflow-y:scroll"> {{Course.Description}} Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                        <p class="card-text"> Max Degree :{{Course.MaxDegree}} </p>
                        <p class="card-text"> Min Degree :{{Course.MinDegree}}</p>
                        <a routerLink="/UpdateCourse/{{Course.Code}}" class="btn btn-info">
                                <i class="fas fa-edit"></i> Update</a>
                                <a class="btn btn-danger"(click)="DeleteCourse(Course.Code)" style="margin-left:15px" data-toggle="modal" data-target="#myModal">
                                        <i class="fas fa-trash-alt" ></i> Remove</a>
                
                                        <div class="modal fade text-muted" id="myModal" role="dialog">
                                                <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                                <div class="modal-header">
                
                                                                        <h4 class="modal-title"> Confirm Deletetion ! </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <p> Are you sure you want to delete this Course</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
                                                                        <button type="button" (click)="DeleteCourse(Course.Code)" class="btn btn-default" data-dismiss="modal">Delete</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                
                
                       
                </div>
        </div>
</div>

<div style="clear:both">
</div>





























