<div class="container" style="padding-top: 20px;">


<div class="row mx-auto " style="width: 100%;">
    <div class=" col-md-5 col-sm-4 " >
     <input  class="form-control d-inline" style="width: 15%;" type="number" [(ngModel)]="CourseCount"> Items
    <a [routerLink]="['/createcourse']" class="btn-sm btn-gold" >New Course</a>
    </div>

<div class="col-md-7 col-sm-8  d-flex justify-content-md-end ">


</div>
</div>
<br>

<div  class=" mx-auto  " style="width: 95%;padding:10px">

        <div class="row"  *ngFor="let Course of CoursesList ;let i=index" style="border-top: 0.7px solid #CDCDCD;border-bottom: 0.7px solid #CDCDCD;padding: 20px;border-radius:20px;">
                <div class="col-lg-3 ">
                        <img [src]="Course.Image" class="image img-fluid img-thumbnail
                        " style="width: 100%;max-height: 170px;">
                </div>

                <div class="col-lg-8 col-10 " style="font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;;">
                        <h6 style="color:#222;margin-bottom: .5rem;font-weight: 400;font-weight:700">
                                {{Course.Name}} 
                        </h6>
                        
                               
                               <div> {{Course.Description}} </div>
                                <i class="fas fa-star" style="color: #eb8a2f;"></i>
                                <i class="fas fa-star" style="color: #eb8a2f;"></i>
                                <i class="fas fa-star" style="color: #eb8a2f;"></i>
                                <i class="fas fa-star" style="color: #eb8a2f;"></i>
                                <i class="fas fa-star-half-alt" style="color: #eb8a2f;"></i><br>
                                113,902 reviews
                                80.5 total hours 400 lectures All Levels
                        

                        <!--<button type="button">best Seller</button>-->
                </div>

                <div class="col-lg-1 col-2">
                        <a href="#" class="btn btn-outline-primary" style="text-decoration:none;margin-bottom: 5px;">
                                <i class="fas fa-sync-alt"></i> </a><br>

                        <a click class="btn btn-outline-danger" style="text-decoration:none" (click)="deleteProduct(confirmDelete,Course.Code)">
                                <i class="far fa-trash-alt"></i> </a>

                </div>
               
        </div>
        

</div>

</div>
<ng-template #confirmDelete let-modal class="fade modal">
        <div   class="modal-header">
            <h4 class="modal-title" id="modal-title">Profile deletion</h4>
            <!---->
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong></p>
            <p>All information associated to this user profile will be permanently deleted.
                <span class="text-danger">This operation can not be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <!---->
            <button type="button" class="btn btn-outline-secondary"  (click)="modal.dismiss('cancel click')">Cancel</button>
            <!---->
            <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
        </div>
        
    </ng-template>