<div class="container" style="padding-top: 20px;">

<div
    style="display : flex;height: 400px; padding-left: 40px; align-items: center; background-image: url('assets/banner.png');">
    <p>
        <!--Alemny<br>
            Easy Learn-->
    </p>

</div>

<!-- <div class="container" style="padding-top: 20px;"> -->
    <div class="row border border-danger"  style="margin-top: 25px;" id="secondrow">

        <div class="col-lg-12 ">
            <h1 id="Dynamic1" style="font-weight:normal" class="text-center text-muted"> " More than 25 years of
                <span>{{text}}</span></h1>
        </div>

        <div class="col-lg-12 ">
            <h4 class="text-center text-muted" style="padding-bottom: 20px;" > "We accelerate the development of Egypt's talents by enabling them to
                build on their competencies and drive an impactful value to a self-sustained human capital competency
                development cycle"
            </h4>
        </div>

        <div class="row">

            <div class="col-lg-5 " style="display: flex;justify-content: center;align-items: center;">
                <img src="assets/iti.jpg" class=" mx-auto d-block img-fluid img-thumbnail"
                    style="width: 95%; border-radius: 35px;border: solid 1px;" />

            </div>
            <div class="col-lg-7">


                <div class="card text-center  " id=countCard style="margin-top: 30px;border-radius: 25px;">

                    <div class="card-body d-flex">

                        <div class="cardcell rounded  text-info col-lg-4">
                            <i class="fas fa-users" style="font-size: xx-large;"></i>
                            <h2 class='d1'>0000</h2>
                            <h3>Professional</h3>
                        </div>

                        <div class="cardcell rounded text-danger col-lg-4">
                            <i class="fas fa-th" style="font-size: xx-large;"></i>
                            <h2 class='d2'>000</h2>
                            <h3>IT Specialist</h3>
                        </div>

                        <div class="cardcell rounded text-info col-lg-4">
                            <i class=" fa fa-spinner fa-spin fa-3x fa-fw" style="font-size: xx-large;"></i>
                            <h2 class='d3'>00</h2>
                            <h3>Job Profile</h3>
                        </div>


                    </div>

                    <div class="card-body d-flex ">

                        <div class="cardcell rounded text-info col-lg-4">
                            <i class=" fa fa-spinner fa-spin fa-3x fa-fw" style="font-size: xx-large;"></i>
                            <h2 class='d3'>00</h2>
                            <h3>Job Profile</h3>
                        </div>

                        <div class="cardcell rounded text-danger col-lg-4">
                            <i class="fas fa-th" style="font-size: xx-large;"></i>
                            <h2 class='d2'>000</h2>
                            <h3>IT Specialist</h3>
                        </div>

                        <div class="cardcell rounded  text-info col-lg-4">
                            <i class="fas fa-users" style="font-size: xx-large;"></i>
                            <h2 class='d1'>0000</h2>
                            <h3>Professional</h3>
                        </div>

                    </div>


                </div>

            </div>

            <!--<div class="container">
    <div class="row" style="height: 400px;">


        <div class="col-lg-6" style="padding-top: 55px;">
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                Lorem Ipsum Lorem Ipsum Lorem Ipsum
            </p>

            <div style="display: flex; justify-content: center;align-items: center;">

                <img src="assets/images.png" style="width: 200px;height: 75px;">
                <img src="assets/images.png" style="width: 200px;height: 75px;">
                <img src="assets/images.png" style="width: 200px;height: 75px;">
            </div>

        </div>

        <div class="col-lg-6">
            <img src="assets/cover_image.jpg">
        </div>
    </div>

</div>

<div class="" style="background-color: #882323;">
    <div class="row" style="display: flex;flex-direction: row;justify-content: center;padding-top: 25px;">
        <span>Lorem Ipsum</span>
    </div>

    <div style="display: flex;  flex-direction: row; justify-content: center;padding-top: 40px;">

        <img src="assets/Iphone_.jpg" style="transform: rotate3d(0, 1, 0, 45deg);width: 434px;height: 358px;">
            <img src="assets/Iphone_.jpg" style="transform: rotate3d(0, 1, 0, 45deg);width: 434px;height: 358px;">

        <div>
            <p>Lorem Ipsum</p>
        </div>

        <div class="card"
            style="width: 18rem;max-height: 250px;padding-left: 20px;border:none;background-color: #882323;">
            <img src="assets/cartoon-solar-system-by-order.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: white;">Mahmoud Ali </h5>
                <p class="card-text">Student</p>
            </div>
        </div>

        <div class="card"
            style="width: 18rem;max-height: 250px; padding-left: 20px;border:none;background-color: #882323;">
            <img src="assets/cartoon-solar-system-by-order.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: white;">Mahmoud Ali </h5>
                <p class="card-text">Student</p>
            </div>
        </div>

        <div class="card"
            style="width: 18rem;max-height: 250px;padding-left: 20px;border:none; background-color: #882323;">
            <img src="assets/cartoon-solar-system-by-order.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: white;">Mahmoud Ali </h5>
                <p class="card-text">Student</p>
            </div>
        </div>



        <div class="col-lg-6">

          </div>
    </div>
</div>-->